@font-face {
  font-family: yekan-bakh-regular;
  src: url(Fonts/YekanBakh-Regular.ttf);
}

@font-face {
  font-family: yekan-bakh-bold;
  src: url(Fonts/YekanBakh-Bold.ttf);
}

@font-face {
  font-family: yekan-bakh-light;
  src: url(Fonts/YekanBakh-Light.ttf);
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1800px;
}

body {
  direction: rtl;
}

/* ---------------------------- header ---------------------------- */

header {
  width: 100%;
  height: 100px;
  /* border-bottom: solid; */
  background-color: white;
  padding: 1px;
}

.icon {
  font-size: 22px;
  margin-top: 26px;
}

.fa-cart-shopping {
  margin-right: 40px;
}

.fa-cart-shopping:hover {
  color: #fbebb5;
  cursor: pointer;
}

.fa-heart {
  margin-right: 3%;
}

.fa-heart:hover {
  color: #fbebb5;
  cursor: pointer;
}

.fa-magnifying-glass {
  margin-right: 3%;
}

.fa-magnifying-glass:hover {
  color: #fbebb5;
  cursor: pointer;
}

.fa-user-plus {
  margin-right: 3%;
}

.fa-user-plus:hover {
  color: #fbebb5;
  cursor: pointer;
}

.navar {
  font-family: yekan-bakh-regular;
  margin-right: 110px;
}

.navar:hover {
  color: #fbebb5;
  cursor: pointer;
}

/* ---------------------------- banner ---------------------------- */
.banner_contact {
  width: 100%;
  height: 400px;
  filter: opacity(30%);
  position: relative;
}

.contact {
  font-size: 70px;
  font-family: yekan-bakh-bold;
  position: absolute;
  top: 210px;
  left: 630px;
}

.contact_thin {
  font-size: 30px;
  font-family: yekan-bakh-regular;
  position: absolute;
  top: 310px;
  left: 665px;
}

/* ---------------------------- form ---------------------------- */
.form_contact {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titr_form {
  font-family: yekan-bakh-bold;
  font-size: 35px;
}

.form_thin {
  font-family: yekan-bakh-regular;
  font-size: 20px;
  color: gray;
}

.form_detail {
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 50px;
}

.form_asli {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: yekan-bakh-regular;
  gap: 15px;
  font-size: 30px;
  position: relative;
}

.form_asli input {
  height: 40px;
  width: 500px;
  font-family: yekan-bakh-regular;
  text-align: center;
}

#email-form {
  height: 40px;
  width: 500px;
  font-family: yekan-bakh-regular;
  text-align: center;
}

#pm {
  font-family: yekan-bakh-regular;
  height: 150px;
  text-align: start;
}

.button_form {
  width: 100px;
  height: 25px;
  top: 600px;
  right: 400px;
  position: absolute;
  background-color: white;
  border: none;
  box-shadow: 2px 3px 3px gray;
  font-family: yekan-bakh-bold;
  color: gray;
}

.button_form:hover {
  color: #fbebb5;
  background-color: gray;
  cursor: pointer;
  box-shadow: none;
}

.detail {
  font-size: 25px;
  font-family: yekan-bakh-regular;
  width: 250px;
}

#address {
  display: inline-block;
  font-family: yekan-bakh-bold;
}

#telephone {
  display: inline-block;
  font-family: yekan-bakh-bold;
}

#clock {
  display: inline-block;
  font-family: yekan-bakh-bold;
}

/* ---------------------------- tazmin ---------------------------- */
.tazmin {
  width: 100%;
  height: 250px;
  background-color: #faf4f4;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 60px;
}

.daste_tazmin {
  width: 33%;
  height: 100%;
}

.titr {
  font-size: 30px;
  font-family: yekan-bakh-bold;
}

.neveshte {
  font-size: 20px;
  font-family: yekan-bakh-regular;
  margin-top: 10px;
}

/* ---------------------------- footer ---------------------------- */
.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  font-family: yekan-bakh-regular;
  margin-top: 40px;
}

.footer-1 {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: grey;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  gap: 25px;
  cursor: pointer;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  gap: 25px;
  cursor: pointer;
}

.footer-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  gap: 25px;
  cursor: pointer;
}

.footer-2-1:hover {
  font-family: yekan-bakh-bold;
}

.footer-2-2:hover {
  font-family: yekan-bakh-bold;
}

.footer-2-3:hover {
  font-family: yekan-bakh-bold;
}

.footer-2-4:hover {
  font-family: yekan-bakh-bold;
}

.footer-2-5:hover {
  font-family: yekan-bakh-bold;
}

.footer-3-1:hover {
  font-family: yekan-bakh-bold;
}

.footer-3-2:hover {
  font-family: yekan-bakh-bold;
}

.footer-3-3:hover {
  font-family: yekan-bakh-bold;
}

.footer-3-4:hover {
  font-family: yekan-bakh-bold;
}

.footer-4-1:hover {
  font-family: yekan-bakh-bold;
}

.enter-footer {
  border-bottom: solid 1px grey;
}

#email_footer {
  border: none;
  width: 250px;
  padding: 5px;
  border-bottom: solid 1px grey;
}

.email-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.img-footer img {
  width: 80px;
  height: auto;
}

.addrres-footer {
  margin-top: 30px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.addrres-footer hr {
  width: 1400px;
}